<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <div class="responses">
        <p>You entered: </p>
        <p>Input 1 = <%= input1 %></p>
        <p>Input 2 = <%= input2 %></p>
        <p>Input 3 = <%= input3 %></p>
    </div>
    
  </div>
</div>
</body>
</html>