<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
  <title><%= title %></title>
</head>
<body>
    <% include ../../includes/nav.ejs %>
    <div class="container center">
        <h1>Avengers: </h1>
        <ul id="nameList" class="nameList">
            
        </ul>
        <h2>Add Avenger</h2>
        <div class="">
            <input type="text" id="newName">
            <button id="submitName" onclick="submitName()">Add</button>
        </div>


    </div>
    <script src="/scripts/ta10.js"></script>
</body>
</html>